<h2>Create</h2>


    <div class="editor-label">
        <label>Item Name</label>
    </div>
    <div class="editor-field">
        <input type="text" class="txtInput" name="itemname">
    </div>

    <div class="editor-label">
        <label>Description of the Item*</label>
    </div>
    <div class="editor-field">
        <input type="text" class="txtInput" name="itemdescription">
    </div>

    <div class="editor-label">
        <label>Condition of the Item*</label>
    </div>
    <div class="editor-field">
        <select name="condition" class="ddlInput">
  			<option value="new">New</option>
  			<option value="likenew">Like New</option>
  			<option value="used">Used</option>
  			<option value="heavilyused">Heavily Used</option>
  			<option value="utterlydestroyed">Utterly Destroyed</option>
		</select>
    </div>

    <div class="editor-field">
        <input checked="checked" type="checkbox" /> 
        <label>Visible to the Public</label>
    </div>

    
    <div class="editor-label">
        <label>Category</label>
    </div>
    <div class="editor-field">
    	<select name="category" class="ddlInput">
    		<option value="1">School Supplies</option>
    		<option value="2">Tools</option>
    		<option value="3">Media</option>
		</select>

       
    </div>

    <p>
        <input type="submit" value="Create" />
    </p>

<div>
    <a href="">Back to List (Cancel)</a>
</div>