<h2>Delete</h2>

<h3>Are you sure you want to delete this item?</h3>
<table class="displayThings">
    <tr>
        <th>
            Item Title
        </th>
        <th>
            Description
        </th>
        <th>
            Condition
        </th>
        <th>
            Category
        </th>
        <th>
            Visible to the Public
        </th>
    </tr>


    <tr>
        <td>
            ItemTitle
        </td>
        <td>
            ItemDescription
        </td>
        <td>
            ItemCondition
        </td>
        <td>
            ItemCategory
        </td>
        <td>
            <input checked="checked" class="check-box" disabled="disabled" type="checkbox" />
        </td>
    </tr>

</table>
    <p>
        <input type="submit" value="Delete" />
    </p>