
<h2>My Items</h2>

<p>
    <a href="">Create</a>
</p>
<table class="displayThings">
    <tr>
        <th>
            Item Title
        </th>
        <th>
            Description
        </th>
        <th>
            Condition
        </th>
        <th>
            Category
        </th>
        <th>
            Visible to the Public
        </th>
        <th></th>
    </tr>

<!-- iterator -->
    <tr>
        <td>
            Title
        </td>
        <td>
            Description
        </td>
        <td>
            Condition
        </td>
        <td>
            Category
        </td>
        <td>
            Visible?
        </td>
        <td>
            <a href="">Edit</a>/<a href="">Details</a>/<a href="">Delete</a>
        </td>
    </tr>
<!-- iterator end -->

</table>