<div class="content">
            

<h2>Details for ItemName</h2>

<div class="display-label">
    Description
</div>
<div class="display-field">
    <p>Hello, this is a long description. I bought this item in france in 2007 and couldn't quite get it to work for months after. Then I hit it with a giant hammer and suddenly it worked again but the glass on the front is broken (superficial only). It's been well loved and I polish it every night with shoe polish and industrial bleach. Thank you for your interest in my item and I wish you good luck in the future and hundreds of fat children.</p>
</div>

<div class="display-label">
    Condition
</div>
<div class="display-field">
    ItemCondition
</div>

<div class="display-label">
    Visible to the Public
</div>
<div class="display-field">
    <input checked="checked" class="check-box" disabled="disabled" type="checkbox" />
</div>
<p>
    <a href="">Edit</a> |
    <a href="">Back to List</a>
</p>

        </div>
